.box {
    height: 30vh;
    width: 30vw;
    box-sizing: border-box;
    border: 5px solid silver;
    float: left;
    font-size: 50px;
    text-align: center;
    padding-top: 90px;
    font-family: 'Lobster Two', cursive;
}

.padBoard {
    padding-top: 30px;
    padding-left: 40px;
}

#gameOn {
    opacity: 0.5;
}

/* #box1 {
    font-size: 50px;
}
#box2 {
    font-size: 50px;
}
#box3 {
    font-size: 50px;
}
#box4 {
    font-size: 50px;
}
#box5 {
    font-size: 50px;
}
#box6 {
    font-size: 50px;
} */
